# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln

# Rider / JetBrains
.idea/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.xcworkspace/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Compiled files
*.o
*.obj
*.pch

# Shader cache
ShaderCache/